<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <script defer src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <style>
        .table th,
        .table td {
            text-align: center;
        }

        .table tbody tr {
            height: 10px;
        }

        #expense-list li {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Expense Tracker</h2>
        <form id="expense-form">
            <div class="form-group">
                <label for="amount">Amount Spent:</label>
                <input type="number" class="form-control" id="amount" name="amount"
                    placeholder="Enter the amount spent" required>
            </div>
            <div class="form-group">
                <label for="description">Expense Description:</label>
                <input type="text" class="form-control" id="description" name="description"
                    placeholder="Enter expense description" required>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" id="category" name="category" required>
                    <option selected disabled></option>
                    <option value="Food">Food</option>
                    <option value="travel">Travel</option>
                    <option value="hospital">Hospital</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="clothes">Clothes</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" id="submit">Add Expense</button>
            <button class="btn btn-outline-primary mt-2" id="buyPremium">Buy Premium</button>
        </form>
        <div class="d-flex align-items-center mt-2">
            <p id="premiumStatus" class="text-success mr-3"></p>
            <button class="btn btn-primary" id="showLeaderboard">Show Leaderboard</button>
        </div>
    </div>

    <div id="expenses-container">
        <ul class="list-inline" id="expense-list">
            <!-- Expenses will be added here dynamically -->
        </ul>
    </div>

    <div class="container mt-2" id="leaderboard-container" style="display: none;">
        <h2>Leaderboard</h2>
        <table class="table table-hover bg-white text-center rounded">
            <thead class="bg-success-subtle">
                <th>User ID</th>
                <th>Name</th>
                <th>Total Amount</th>
            </thead>
            <tbody id="leaderboard-body"></tbody>
        </table>
    </div>

    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/js/bootstrap.min.js"></script>

    <script>
        window.addEventListener('DOMContentLoaded', async () => {
            const token = localStorage.getItem('token');
            let isPremiumUser = localStorage.getItem('isPremiumUser');
            if (isPremiumUser === null) {
                isPremiumUser = 'false'; 
            }
            const amount = document.querySelector('#amount');
            const description = document.querySelector('#description');
            const category = document.querySelector('#category');
            const submit = document.querySelector('#submit');
            const expense_list = document.querySelector('#expense-list');
            const buyPremiumButton = document.getElementById('buyPremium');
            const premiumStatusMessage = document.getElementById('premiumStatus');
            const showLeaderboardButton = document.getElementById('showLeaderboard');
            const leaderboardContainer = document.getElementById('leaderboard-container');
            const leaderboardBody = document.getElementById('leaderboard-body');
            const expenseForm = document.getElementById('expense-form');

    
            async function fetchAndDisplayLeaderboard() {
                try {
                    const response = await axios.get('http://localhost:3000/premium/showLeaderboard', {
                        headers: { 'auth': token }
                    });
                    const leaderboardData = response.data;
    
                    leaderboardData.sort((a, b) => b.total_amount - a.total_amount); // Sort in descending order
    
                    leaderboardBody.innerHTML = ''; // Clear previous data.
    
                    leaderboardData.forEach(data => {
                        const row = document.createElement('tr');
                        const userIdCell = document.createElement('td');
                        const nameCell = document.createElement('td');
                        const amountCell = document.createElement('td');
    
                        userIdCell.textContent = data.userId; // Display userId
                        nameCell.textContent = data.name;
                        amountCell.textContent = data.total_amount;
    
                        row.appendChild(userIdCell);
                        row.appendChild(nameCell);
                        row.appendChild(amountCell);
                        leaderboardBody.appendChild(row);
                    });
    
                    leaderboardContainer.style.display = 'block'; // Show the leaderboard container
                } catch (error) {
                    console.error('Error fetching leaderboard data:', error);
                }
            }
    
            // Event listener for the "Show Leaderboard" button
            showLeaderboardButton.addEventListener('click', fetchAndDisplayLeaderboard);
    
            submit.addEventListener('click', async (event) => {
                event.preventDefault();
                const obj = { amount: amount.value, description: description.value, category: category.value };
    
                try {
                    const result = await axios.post('http://localhost:3000/expense/add', obj,
                        { headers: { auth: token } });
                    if (result) {
                        const ui = document.createElement('li');
                        const deleteBtn = document.createElement('button');
                        ui.innerHTML = `${result.data.amount} - ${result.data.category} - ${result.data.description}`;
                        deleteBtn.textContent = 'Delete';
                        deleteBtn.className = 'btn btn-danger btn-sm';
                        deleteBtn.addEventListener('click', async () => {
                            const deleteRes = await axios.get(`http://localhost:3000/expense/delete/${result.data.id}`,
                                { headers: { auth: token } });
                             
                            if (deleteRes.status === 200) {
                                expense_list.removeChild(ui);
                            }
                        });
                        ui.appendChild(deleteBtn);
                        expense_list.appendChild(ui);
                        expenseForm.reset();
                    }
                } catch (error) {
                    console.error('Error adding expense:', error);
                }
            });
    
            if (isPremiumUser === 'true') {
                premiumStatusMessage.textContent = 'You are a premium user.';
                buyPremiumButton.style.display = 'none';
                showLeaderboardButton.style.display = 'block';
            } else {
                premiumStatusMessage.textContent = '';
                buyPremiumButton.style.display = 'block';
                showLeaderboardButton.style.display = 'none';
            }
    
            buyPremiumButton.addEventListener('click', async (e) => {
                try {
                    const res = await axios.get("http://localhost:3000/purchase/primiumMembership",
                        { headers: { 'auth': token } });
                    var options = {
                        "key": res.data.key_id,
                        "order_id": res.data.order.id,
                        "handler": async function (response) {
                            try {
                                const paymentResponse = await axios.post("http://localhost:3000/purchase/updateStatus", {
                                    orderId: options.order_id,
                                    paymentId: response.razorpay_payment_id
                                }, { headers: { 'auth': token } });
    
                                if (paymentResponse.status === 200) {
                                    window.alert('Congratulations! You are now a premium user.');
                                    premiumStatusMessage.textContent = 'You are a premium user.';
                                    buyPremiumButton.style.display = 'none';
                                    showLeaderboardButton.style.display = 'block';
                                    localStorage.setItem('isPremiumUser', 'true'); // Set isPremiumUser to 'true'
                                } else {
                                    window.alert('Failed to update premium status. Please contact support.');
                                    localStorage.setItem('isPremiumUser', 'false'); // Set isPremiumUser to 'false' if payment fails
                                }
                            } catch (error) {
                                console.error('Error updating premium status:', error);
                                window.alert('Failed to update premium status. Please contact support.');
                                localStorage.setItem('isPremiumUser', 'false'); // Set isPremiumUser to 'false' if updating status fails
                            }
                        }
                    };
                    const rzp1 = new Razorpay(options);
                    rzp1.open();
                    e.preventDefault();
    
                    rzp1.on('payment.failed', function (response) {
                        console.log(response);
                        alert("Something went wrong!");
                        localStorage.setItem('isPremiumUser', 'false'); // Set isPremiumUser to 'false' if payment fails
                    });
                } catch (error) {
                    console.error('Error initiating payment:', error);
                    localStorage.setItem('isPremiumUser', 'false'); // Set isPremiumUser to 'false' if payment initiation fails
                }
            });
    
            // Fetch and display existing expenses
            try {
                const response = await axios.get('http://localhost:3000/expense/fetch', {
                    headers: { auth: token },
                });
                const expenses = response.data;
                expenses.forEach((expense) => {
                    const ui = document.createElement('li');
                    const deleteBtn = document.createElement('button');
                    ui.innerHTML = `${expense.amount} - ${expense.category} - ${expense.description}`;
                    deleteBtn.textContent = 'Delete';
                    deleteBtn.className = 'btn btn-danger btn-sm';
                    deleteBtn.addEventListener('click', async () => {
                        const result = await axios.get(`http://localhost:3000/expense/delete/${expense.id}`,
                            { headers: { auth: token } });
    
                        if (result.status === 200) {
                            expense_list.removeChild(ui);
                        }
                    });
                    ui.appendChild(deleteBtn);
                    expense_list.appendChild(ui);
                });
            } catch (error) {
                console.error(error);
            }
        });
    </script>
    
</body>

</html>
